body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFFFFF;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#search-box {
    text-align: center;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #4285f4;
    text-decoration: none;
    font-size: 14px;
    float: right;
    margin-right: 20px;
}

#search-box a:nth-child(2) {
    position: absolute;
    background: white;
    top: 15px;
    right: 20px;
}

#search-box a:nth-child(3) {
    position: absolute;
    background: white;
    top: 35px;
    right: 20px;
}
